<!DOCTYPE html>
<html class="h-full bg-gray-100" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Accueil</title>
  </head>
  <body class="h-full">
    <div class="min-h-full">
      <nav class="bg-gray-800">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
          <div class="flex h-16 items-center justify-between">
            <div class="flex items-center">
              <div class="shrink-0">
                <img
                  class="size-8"
                  src="https://tailwindui.com/plus/img/logos/mark.svg?color=indigo&shade=500"
                  alt="Your Company"
                />
              </div>
              <div class="hidden md:block">
                <div class="ml-10 flex items-baseline space-x-4">
                  <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                  <a
                    th:href="@{/}"
                    class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white"
                    aria-current="page"
                    >Accueil</a
                  >
                  <a
                    href="#"
                    class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white"
                    >Team</a
                  >
                  <a
                    href="#"
                    class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white"
                    >Projects</a
                  >
                  <a
                    href="#"
                    class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white"
                    >Calendar</a
                  >
                  <a
                    href="#"
                    class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white"
                    >Reports</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <main>
        <header class="bg-white shadow">
          <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
            <h1 class="text-3xl font-bold tracking-tight text-gray-900">
              Dashboard
            </h1>
          </div>
        </header>
        <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
          <div
            th:if="${message}"
            class="bg-green-200 px-6 py-4 mx-2 my-4 rounded-md text-lg flex items-center mx-auto max-w-lg"
          >
            <svg
              viewBox="0 0 24 24"
              class="text-green-600 w-5 h-5 sm:w-5 sm:h-5 mr-3"
            >
              <path
                fill="currentColor"
                d="M12,0A12,12,0,1,0,24,12,12.014,12.014,0,0,0,12,0Zm6.927,8.2-6.845,9.289a1.011,1.011,0,0,1-1.43.188L5.764,13.769a1,1,0,1,1,1.25-1.562l4.076,3.261,6.227-8.451A1,1,0,1,1,18.927,8.2Z"
              ></path>
            </svg>
            <span class="text-green-800" th:text="${message}"></span>
          </div>
          <a
            th:href="@{'/create'}"
            class="bg-blue-600 font-medium px-3 py-2 mb-3 rounded-md text-sm text-white inline-block hover:bg-blue-800"
            >Ajouter un client</a
          >
          <table class="table-auto w-full">
            <thead class="bg-gray-800 text-white uppercase">
              <tr>
                <th class="px-6 py-3 text-center">Id</th>
                <th class="px-6 py-3 text-center">Prenom</th>
                <th class="px-6 py-3 text-center">Nom</th>
                <th class="px-6 py-3 text-center">Email</th>
                <th class="px-6 py-3 text-center">Téléphone</th>
                <th class="px-6 py-3 text-center">&nbsp;Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr class="bg-white border-b" th:each="customer : ${customers}">
                <td class="px-6 py-5 text-center" th:text="${customer.id}"></td>
                <td
                  class="px-6 py-5 text-center"
                  th:text="${customer.firstName}"
                ></td>
                <td
                  class="px-6 py-5 text-center"
                  th:text="${customer.lastName}"
                ></td>
                <td
                  class="px-6 py-5 text-center"
                  th:text="${customer.email}"
                ></td>
                <td
                  class="px-6 py-5 text-center"
                  th:text="${customer.phone}"
                ></td>
                <td class="px-6 py-5 text-center">
                  <a
                    th:href="@{customer/{id}(id=${customer.id})}"
                    class="bg-green-600 font-medium hover:bg-green-700 px-3 py-2 rounded-md text-sm text-white mr-1"
                    >Afficher</a
                  >
                  <a
                    th:href="@{customer/{id}/edit(id=${customer.id})}"
                    class="bg-blue-600 font-medium hover:bg-blue-700 px-3 py-2 rounded-md text-sm text-white mr-1"
                    >Modifier</a
                  >
                  <a
                    th:href="@{customer/{id}/delete(id=${customer.id})}"
                    class="bg-red-600 font-medium hover:bg-red-700 px-3 py-2 rounded-md text-sm text-white mr-1"
                    >Supprimer</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </main>
    </div>
  </body>
</html>
